### **Python pandas library - storing and manipulating data in "dataframes" (tables)**

In [1]:
# Set-up
import pandas as pd
import numpy as np
pd.set_option('display.min_rows', 20)

In [2]:
# Upload all data files - must be on local computer
# Cities.csv, Countries.csv, Players.csv, Teams.csv, Titanic.csv
# If running notebook on local computer:
#   No need to run this cell (it will generate an error)
#   Make sure data files are in same workspace as notebook
from google.colab import files
uploaded = files.upload()

Saving Cities.csv to Cities.csv
Saving Countries.csv to Countries.csv

### Reading from CSV file into dataframe

In [3]:
f = open('Cities.csv')
cities = pd.read_csv(f)

In [4]:
cities

            city         country  latitude  longitude  temperature
0        Aalborg         Denmark     57.03       9.92         7.52
1       Aberdeen  United Kingdom     57.17      -2.08         8.10
2         Abisko          Sweden     63.35      18.83         0.20
3          Adana          Turkey     36.99      35.32        18.67
4       Albacete           Spain     39.00      -1.87        12.62
5      Algeciras           Spain     36.13      -5.47        17.38
6         Amiens          France     49.90       2.30        10.17
7      Amsterdam     Netherlands     52.35       4.92         8.93
8         Ancona           Italy     43.60      13.50        13.52
9        Andorra         Andorra     42.50       1.52         9.60
..           ...             ...       ...        ...          ...
203       Vienna         Austria     48.20      16.37         7.86
204         Vigo           Spain     42.22      -8.73        12.85
205      Vilnius       Lithuania     54.68      25.32         5.38
206       Warsaw          Poland     52.25      21.00         7.20
207      Wroclaw          Poland     51.11      17.03         7.17
208  Yevpatoriya         Ukraine     45.20      33.36        10.02
209     Zaragoza           Spain     41.65      -0.89        14.17
210     Zhytomyr         Ukraine     50.25      28.66         6.67
211    Zonguldak          Turkey     41.43      31.78        10.64
212       Zurich     Switzerland     47.38       8.56         6.68

[213 rows x 5 columns]

In [7]:
# Number of rows
len(cities)

213

In [8]:
# First few rows
cities.head()

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20
3     Adana          Turkey     36.99      35.32        18.67
4  Albacete           Spain     39.00      -1.87        12.62

In [12]:
# Last 15 rows
cities.tail(15)

            city      country  latitude  longitude  temperature
198      Trikala       Greece     39.56      21.77        16.00
199    Trondheim       Norway     63.42      10.42         4.53
200        Turku      Finland     60.45      22.25         4.72
201      Uppsala       Sweden     59.86      17.64         4.17
202     Valencia        Spain     39.49      -0.40        16.02
203       Vienna      Austria     48.20      16.37         7.86
204         Vigo        Spain     42.22      -8.73        12.85
205      Vilnius    Lithuania     54.68      25.32         5.38
206       Warsaw       Poland     52.25      21.00         7.20
207      Wroclaw       Poland     51.11      17.03         7.17
208  Yevpatoriya      Ukraine     45.20      33.36        10.02
209     Zaragoza        Spain     41.65      -0.89        14.17
210     Zhytomyr      Ukraine     50.25      28.66         6.67
211    Zonguldak       Turkey     41.43      31.78        10.64
212       Zurich  Switzerland     47.38       8.56         6.68

### Sorting, selecting rows and columns

In [13]:
# Sorting by country then descending temperature
cities.sort_values(['country','temperature'],ascending=[True,False])

           city         country  latitude  longitude  temperature
78      Elbasan         Albania     41.12      20.08        15.18
9       Andorra         Andorra     42.50       1.52         9.60
203      Vienna         Austria     48.20      16.37         7.86
95         Graz         Austria     47.08      15.41         6.91
125        Linz         Austria     48.32      14.29         6.79
175    Salzburg         Austria     47.81      13.04         4.62
105   Innsbruck         Austria     47.28      11.41         4.54
47        Brest         Belarus     52.10      23.70         6.73
161       Pinsk         Belarus     52.13      26.09         6.42
138       Mazyr         Belarus     52.05      29.27         6.25
..          ...             ...       ...        ...          ...
58    Cambridge  United Kingdom     52.20       0.12         9.25
34    Blackpool  United Kingdom     53.83      -3.05         9.15
33   Birmingham  United Kingdom     52.47      -1.92         8.81
92      Glasgow  United Kingdom     55.87      -4.25         8.60
24      Belfast  United Kingdom     54.60      -5.96         8.48
41     Bradford  United Kingdom     53.80      -1.75         8.39
1      Aberdeen  United Kingdom     57.17      -2.08         8.10
106   Inverness  United Kingdom     57.47      -4.23         8.00
76    Edinburgh  United Kingdom     55.95      -3.22         7.43
75       Dundee  United Kingdom     56.47      -3.00         6.40

[213 rows x 5 columns]

In [14]:
# Selecting a single column - returns a 'series'
cities.city
# Also show cities['city'], cities['temperature'], cities.temperature

0          Aalborg
1         Aberdeen
2           Abisko
3            Adana
4         Albacete
5        Algeciras
6           Amiens
7        Amsterdam
8           Ancona
9          Andorra
          ...
203         Vienna
204           Vigo
205        Vilnius
206         Warsaw
207        Wroclaw
208    Yevpatoriya
209       Zaragoza
210       Zhytomyr
211      Zonguldak
212         Zurich
Name: city, Length: 213, dtype: object

In [15]:
# Selecting multiple columns - returns a dataframe
cities[['city','temperature']]
# Also show cities[['city']]

            city  temperature
0        Aalborg         7.52
1       Aberdeen         8.10
2         Abisko         0.20
3          Adana        18.67
4       Albacete        12.62
5      Algeciras        17.38
6         Amiens        10.17
7      Amsterdam         8.93
8         Ancona        13.52
9        Andorra         9.60
..           ...          ...
203       Vienna         7.86
204         Vigo        12.85
205      Vilnius         5.38
206       Warsaw         7.20
207      Wroclaw         7.17
208  Yevpatoriya        10.02
209     Zaragoza        14.17
210     Zhytomyr         6.67
211    Zonguldak        10.64
212       Zurich         6.68

[213 rows x 2 columns]

In [16]:
# Selecting rows based on condition
# Note: no need to do type conversion - pandas infers types for columns
cities[cities.longitude < 0]

            city         country  latitude  longitude  temperature
1       Aberdeen  United Kingdom     57.17      -2.08         8.10
4       Albacete           Spain     39.00      -1.87        12.62
5      Algeciras           Spain     36.13      -5.47        17.38
10        Angers          France     47.48      -0.53        10.98
17       Badajoz           Spain     38.88      -6.97        15.61
24       Belfast  United Kingdom     54.60      -5.96         8.48
32        Bilbao           Spain     43.25      -2.93        11.41
33    Birmingham  United Kingdom     52.47      -1.92         8.81
34     Blackpool  United Kingdom     53.83      -3.05         9.15
38      Bordeaux          France     44.85      -0.60        11.87
40   Bournemouth  United Kingdom     50.73      -1.90         9.97
41      Bradford  United Kingdom     53.80      -1.75         8.39
42         Braga        Portugal     41.55      -8.42        13.42
46         Brest          France     48.39      -4.50        11.02
53        Burgos           Spain     42.35      -3.68        10.45
57          Caen          France     49.18      -0.35         9.96
59     Cartagena           Spain     37.60      -0.98        17.32
67          Cork         Ireland     51.90      -8.50         9.41
74        Dublin         Ireland     53.33      -6.25         8.49
75        Dundee  United Kingdom     56.47      -3.00         6.40
76     Edinburgh  United Kingdom     55.95      -3.22         7.43
84        Exeter  United Kingdom     50.70      -3.53        10.14
88        Galway         Ireland     53.27      -9.05        10.00
92       Glasgow  United Kingdom     55.87      -4.25         8.60
94       Granada           Spain     37.16      -3.59        16.33
103       Huelva           Spain     37.25      -6.93        17.09
106    Inverness  United Kingdom     57.47      -4.23         8.00
126       Lisbon        Portugal     38.72      -9.14        15.52
130       Madrid           Spain     40.40      -3.68        11.19
136     Marbella           Spain     36.52      -4.88        17.19
145       Murcia           Spain     37.98      -1.13        15.00
155       Oviedo           Spain     43.35      -5.83        10.85
174    Salamanca           Spain     40.97      -5.67        11.63
177    Santander           Spain     43.38      -3.80        13.40
188      Swansea  United Kingdom     51.63      -3.95         9.73
202     Valencia           Spain     39.49      -0.40        16.02
204         Vigo           Spain     42.22      -8.73        12.85
209     Zaragoza           Spain     41.65      -0.89        14.17

In [17]:
# Selecting rows by number
cities[15:20]
# Show cities[:8] and cities[200:]

         city  country  latitude  longitude  temperature
15   Augsburg  Germany     48.35      10.90         4.54
16      Bacau  Romania     46.58      26.92         7.51
17    Badajoz    Spain     38.88      -6.97        15.61
18  Baia Mare  Romania     47.66      23.58         8.87
19      Balti  Moldova     47.76      27.91         8.23

In [18]:
# Putting it together: selecting rows, selecting columns, sorting
# City and longitude of all cities with latitude > 50 and
# temperature > 9, sorted by longitude
temp1 = cities[(cities.latitude > 50) & (cities.temperature > 9)]
temp2 = temp1[['city','longitude']]
temp3 = temp2.sort_values('longitude')
temp3
# Show eliminating temp3, then temp2, then temp1 (use \ for long lines)
# Note similar functionality to SQL

            city  longitude
88        Galway      -9.05
67          Cork      -8.50
188      Swansea      -3.95
84        Exeter      -3.53
34     Blackpool      -3.05
40   Bournemouth      -1.90
58     Cambridge       0.12
123        Lille       3.08
49        Brugge       3.23

### <font color="green">**Your Turn**</font>

In [19]:
# Read the Countries.csv file into a dataframe
f = open('Countries.csv')
countries = pd.read_csv(f)

In [21]:
# Find all countries that are not in the EU and don't
# have coastline, together with their populations,
# sorted by population (smallest to largest)
#YOUR CODE HERE
temp1 = countries[(countries.EU == 'no') & (countries.coastline == 'no')]
temp2 = temp1[['country','population']]
temp3 = temp2.sort_values('population')
temp3

          country  population
22  Liechtenstein        0.04
1         Andorra        0.07
20         Kosovo        1.91
25      Macedonia        2.08
26        Moldova        4.06
38    Switzerland        8.38
33         Serbia        8.81
3         Belarus        9.48

### Aggregation

In [22]:
# Minimum and maximum temperature
print('Minimum temperature:', min(cities.temperature))
print('Maximum temperature:', max(cities.temperature))

Minimum temperature: -2.2
Maximum temperature: 18.67

In [23]:
# Average temperature
print('Using numpy average:', np.average(cities.temperature))
print('Using built-in mean:', cities.temperature.mean())

Using numpy average: 9.497840375586854
Using built-in mean: 9.497840375586854

In [26]:
# Average temperature of cities in each country
cities.groupby('country').mean().temperature
# or [['temperature']]
# Also show without column selection
# Change mean() to min()
# Or use .temperature.mean()

                        temperature
country
Albania                   15.180000
Andorra                    9.600000
Austria                    6.144000
Belarus                    5.946667
Belgium                    9.650000
Bosnia and Herzegovina     9.600000
Bulgaria                  10.440000
Croatia                   10.865000
Czech Republic             7.856667
Denmark                    7.625000
Estonia                    4.590000
Finland                    3.487500
France                    10.151111
Germany                    7.869286
Greece                    16.902500
Hungary                    9.602500
Ireland                    9.300000
Italy                     13.474667
Latvia                     5.270000
Lithuania                  6.143333
Macedonia                  9.360000
Moldova                    8.415000
Montenegro                 9.990000
Netherlands                8.756667
Norway                     3.726000
Poland                     7.250000
Portugal                  14.470000
Romania                    9.224444
Serbia                     9.850000
Slovakia                   8.480000
Slovenia                   9.270000
Spain                     14.238333
Sweden                     3.586667
Switzerland                7.253333
Turkey                    11.726667
Ukraine                    7.420000
United Kingdom             8.650000

### <font color="green">**Your Turn**</font>

In [29]:
# Find the average population of countries with coastline
# and countries without coastline
# Hint: You can use groupby!
#YOUR CODE HERE
countries.groupby('coastline').mean()[['population']]

           population
coastline
no           5.367692
yes         20.947931

In [ ]:
# Then modify to group by both coastline and EU

### Joining

In [30]:
cities.merge(countries, on='country')

,city,country,latitude,longitude,temperature,population,EU,coastline
0,Aalborg,Denmark,57.03,9.92,7.52,5.69,yes,yes
1,Odense,Denmark,55.40,10.38,7.73,5.69,yes,yes
2,Aberdeen,United Kingdom,57.17,-2.08,8.10,65.11,yes,yes
3,Belfast,United Kingdom,54.60,-5.96,8.48,65.11,yes,yes
4,Birmingham,United Kingdom,52.47,-1.92,8.81,65.11,yes,yes
5,Blackpool,United Kingdom,53.83,-3.05,9.15,65.11,yes,yes
6,Bournemouth,United Kingdom,50.73,-1.90,9.97,65.11,yes,yes
7,Bradford,United Kingdom,53.80,-1.75,8.39,65.11,yes,yes
8,Cambridge,United Kingdom,52.20,0.12,9.25,65.11,yes,yes
9,Dundee,United Kingdom,56.47,-3.00,6.40,65.11,yes,yes
...,...,...,...,...,...,...,...,...
203,Klaipeda,Lithuania,55.72,21.12,7.00,2.85,yes,yes
204,Vilnius,Lithuania,54.68,25.32,5.38,2.85,yes,yes
205,Ljubljana,Slovenia,46.06,14.51,9.27,2.07,yes,yes
206,Podgorica,Montenegro,42.47,19.27,9.99,0.63,no,yes
207,Rijeka,Croatia,45.33,14.45,9.27,4.23,yes,yes
208,Split,Croatia,43.52,16.47,12.46,4.23,yes,yes
209,Sarajevo,Bosnia and Herzegovina,43.85,13.38,9.60,3.80,no,yes
210,Skopje,Macedonia,42.00,21.43,9.36,2.08,no,no
211,Tallinn,Estonia,59.43,24.73,4.82,1.31,yes,yes
212,Tartu,Estonia,58.38,26.71,4.36,1.31,yes,yes

In [31]:
# Joining is symmetric
countries.merge(cities, on='country')

,country,population,EU,coastline,city,latitude,longitude,temperature
0,Albania,2.90,no,yes,Elbasan,41.12,20.08,15.18
1,Andorra,0.07,no,no,Andorra,42.50,1.52,9.60
2,Austria,8.57,yes,no,Graz,47.08,15.41,6.91
3,Austria,8.57,yes,no,Innsbruck,47.28,11.41,4.54
4,Austria,8.57,yes,no,Linz,48.32,14.29,6.79
5,Austria,8.57,yes,no,Salzburg,47.81,13.04,4.62
6,Austria,8.57,yes,no,Vienna,48.20,16.37,7.86
7,Belarus,9.48,no,no,Brest,52.10,23.70,6.73
8,Belarus,9.48,no,no,Hrodna,53.68,23.83,6.07
9,Belarus,9.48,no,no,Mazyr,52.05,29.27,6.25
...,...,...,...,...,...,...,...,...
203,United Kingdom,65.11,yes,yes,Blackpool,53.83,-3.05,9.15
204,United Kingdom,65.11,yes,yes,Bournemouth,50.73,-1.90,9.97
205,United Kingdom,65.11,yes,yes,Bradford,53.80,-1.75,8.39
206,United Kingdom,65.11,yes,yes,Cambridge,52.20,0.12,9.25
207,United Kingdom,65.11,yes,yes,Dundee,56.47,-3.00,6.40
208,United Kingdom,65.11,yes,yes,Edinburgh,55.95,-3.22,7.43
209,United Kingdom,65.11,yes,yes,Exeter,50.70,-3.53,10.14
210,United Kingdom,65.11,yes,yes,Glasgow,55.87,-4.25,8.60
211,United Kingdom,65.11,yes,yes,Inverness,57.47,-4.23,8.00
212,United Kingdom,65.11,yes,yes,Swansea,51.63,-3.95,9.73

### Miscellaneous features

In [32]:
# String operations - countries with 'ia' in their name
countries[countries.country.str.contains('ia')]

                   country  population   EU coastline
0                  Albania        2.90   no       yes
2                  Austria        8.57  yes        no
5   Bosnia and Herzegovina        3.80   no       yes
6                 Bulgaria        7.10  yes       yes
7                  Croatia        4.23  yes       yes
11                 Estonia        1.31  yes       yes
21                  Latvia        1.96  yes       yes
23               Lithuania        2.85  yes       yes
25               Macedonia        2.08   no        no
32                 Romania       19.37  yes       yes
33                  Serbia        8.81   no        no
34                Slovakia        5.43  yes        no
35                Slovenia        2.07  yes       yes

In [33]:
# Add fahrenheit column
cities['fahrenheit'] = (cities.temperature * 9/5) + 32
cities

            city         country  latitude  longitude  temperature  fahrenheit
0        Aalborg         Denmark     57.03       9.92         7.52      45.536
1       Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
2         Abisko          Sweden     63.35      18.83         0.20      32.360
3          Adana          Turkey     36.99      35.32        18.67      65.606
4       Albacete           Spain     39.00      -1.87        12.62      54.716
5      Algeciras           Spain     36.13      -5.47        17.38      63.284
6         Amiens          France     49.90       2.30        10.17      50.306
7      Amsterdam     Netherlands     52.35       4.92         8.93      48.074
8         Ancona           Italy     43.60      13.50        13.52      56.336
9        Andorra         Andorra     42.50       1.52         9.60      49.280
..           ...             ...       ...        ...          ...         ...
203       Vienna         Austria     48.20      16.37         7.86      46.148
204         Vigo           Spain     42.22      -8.73        12.85      55.130
205      Vilnius       Lithuania     54.68      25.32         5.38      41.684
206       Warsaw          Poland     52.25      21.00         7.20      44.960
207      Wroclaw          Poland     51.11      17.03         7.17      44.906
208  Yevpatoriya         Ukraine     45.20      33.36        10.02      50.036
209     Zaragoza           Spain     41.65      -0.89        14.17      57.506
210     Zhytomyr         Ukraine     50.25      28.66         6.67      44.006
211    Zonguldak          Turkey     41.43      31.78        10.64      51.152
212       Zurich     Switzerland     47.38       8.56         6.68      44.024

[213 rows x 6 columns]

In [35]:
# Sometimes temporary dataframe is needed
# Cities with latitude > 50 not in the EU (error then fix)
citiesext = cities.merge(countries, on='country')
citiesext[(cities.latitude > 50) & (countries.EU == 'no')]

,city,country,latitude,longitude,temperature,fahrenheit,population,EU,coastline
0,Aalborg,Denmark,57.03,9.92,7.52,45.536,5.69,yes,yes
1,Odense,Denmark,55.40,10.38,7.73,45.914,5.69,yes,yes
27,Edirne,Turkey,41.67,26.57,10.90,51.620,79.62,no,yes
29,Erzurum,Turkey,39.92,41.29,5.17,41.306,79.62,no,yes
33,Karaman,Turkey,37.18,33.22,10.41,50.738,79.62,no,yes
40,Sivas,Turkey,39.75,37.03,8.05,46.490,79.62,no,yes

In [ ]:
# Notebook only displays result of last line
# Before last line need to use print
cities[cities.longitude > 35]
cities[cities.longitude < -5]

### <font color="green">**Your Turn**</font>

In [11]:
# The countries dataset was created before "Brexit", so the data has
# EU = 'yes' for the United Kingdom.
# Determine how the average temperature for EU cities and the average
# temperature for non-EU cities changed after Brexit.
# For the pre-Brexit averages, use the EU and non-EU countries in the data,
# and for the post-Brexit averages treat the United Kingdom as not in the EU.
# 
# Your output should look something like this:
#   EU before Brexit: [average temperature here]
#   Non-EU before Brexit: [average temperature here]
#   EU after Brexit: [average temperature here]
#   Non-EU after Brexit: [average temperature here]
#
# Hint: You can solve this one in just five lines by creating a
# joined dataframe, then averaging the temperatures for four different
# sets of conditions on the dataframe.
# Note: For the 'or' of two conditions in pandas, use '|' instead of '&'
#
#YOUR CODE HERE

KeyError: ignored

### <font color="green">**Your Turn: World Cup Data**</font>

In [40]:
from google.colab import files
uploaded = files.upload()

Saving Players.csv to Players (1).csv
Saving Teams.csv to Teams.csv

In [42]:
# Read the Players and Teams data into dataframes
f = open('Players.csv')
players = pd.read_csv(f)
f = open('Teams.csv')
teams = pd.read_csv(f)

In [43]:
# Show first few rows of players
players.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

In [44]:
# Show first few rows of teams
teams.head()

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0

####*All four of these problems can be solved with one or two lines of code*

In [ ]:
# What player on a team with “ia” in the team name played less than
# 200 minutes and made more than 100 passes? Print the player surname.

In [ ]:
# What is the average number of passes made by forwards? By midfielders?
# Make sure the answer specifies which is which, and don't include other
# positions in your result.
YOUR CODE HERE

In [ ]:
# Which team has the highest ratio of goalsFor to goalsAgainst?
# Print the team name only.
# Hint: Add a "ratio" column to the teams dataframe, then sort,
# then use head(1) or tail(1) depending how you sorted
YOUR CODE HERE

In [ ]:
# How many players who play on a team with ranking <10 played
# more than 350 minutes?
# Reminder: len() gives number of rows in a dataframe
YOUR CODE HERE

### <font color="green">**Your Turn Extra: Titanic Data**</font>

In [ ]:
# Read the Titanic data into a dataframe
f = open('Titanic.csv')
titanic = pd.read_csv(f)

In [ ]:
# Show first few rows of titanic
titanic.head()

In [ ]:
# How many married women over age 50 embarked in Cherbourg?
# Note: 'first' is a function in Pandas, so 'titanic.first' will generate an error;
# use 'titanic['first'] instead
YOUR CODE HERE

In [ ]:
# How many passengers are missing their age, and what is the
# average fare paid by these passengers?
# NOTE: Missing values in Pandas are null, printed as 'NaN', and
# function pd.isnull(v) checks whether a value is null.
YOUR CODE HERE

In [ ]:
# What is the average fare paid by passengers in the three classes,
# and the average age of passengers in the three classes?
YOUR CODE HERE

In [ ]:
# What was the highest fare paid by a male survivor, female survivor,
# male non-survivor, and female non-survivor? (four numbers)
YOUR CODE HERE

In [ ]:
# What is the survival rate of passengers in the three classes, i.e., what fraction
# of passengers in each class survived? What is the survival rate of females
# versus males? Of children (under 18) versus adults (age 18 or over)?
# NOTES: Missing ages automatically fail comparisons like in SQL, and 'class'
# is a function in Pandas, so 'titanic.class' will generate an error;
# use 'titanic['class'] instead
YOUR CODE HERE